<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Radio Schedule</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"
          rel="stylesheet" media="screen">
</head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
<script type="text/javascript">
function deleteEntry(link){
	base_url = "/schedule/";
	post_url = base_url + link.id + "/";
	var result = confirm("Delete Entry?");
	if (result) {
        $.ajax({
            type: "DELETE",
            url: post_url,
            headers: { 'X-CSRFToken': '{{ csrf_token }}'},
            complete: function(response, textStatus) {
                        if (response.status == 278) {
                            window.location = response.getResponseHeader('Location')
                        }
            }
        });
    }
}
</script>
<p>
{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in.<a href="/logout">Logout.</a></p>
{% else %}
    <p>Please <a href="/login/">login</a>.</p>
{% endif %}
{% block content %}
    {% if messages %}
    <div>
        {% for message in messages %}
            <h2 class="{{message.tag}}">{{ message.message }}</h2>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}

<p>
    <a href="/schedule/new.html">New Schedule Entry</a>
    <br />
</p>

<table class="table"  style="font-family:monospace;">
    <tr>
      <th>Playlist</th>
      <th>Date</th>
      <th>Begin</th>
      <th>End</th>
      <th>Details</th>
      <th>Delete</th>
  </tr>

  {% for entry in all_entries %}
        <tr>
            <td>{{entry.playlist.name}}</td>
            <td>{{entry.begin_time.astimezone.date|date:"D, d.m"}}</td>
            <td>{{entry.begin_time.astimezone.time|date:"H:i"}}</td>
            <td>{{entry.end_time.astimezone.time|date:"H:i"}}</td>
            <td><a href="/schedule/{{ entry.id }}/">Show</a></td>
            {% if not entry.is_past_begin_time %}
                <td><a id="{{entry.id}}" href="#" onclick="javascript:deleteEntry(this)">Delete Entry</a></td>
            {% else %}
                <td></td>
            {% endif %}
        </tr>
  {% endfor %}
</table>

<p>
    {% if not display_old %}
        <a href="/schedule.html?old=true">Include old scheduled Entries</a>
    {% else %}
        <a href ="/schedule.html">Display only upcoming Entries</a>
    {% endif %}
    <br />
</p>

<br />
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>