<form action="/sessions/" method="post">
	{% csrf_token %}
	<input name="next" type="hidden" value="{{ next }}" />
	<br />
	<table style="margin-left: auto; margin-right: auto;">
		<tr>
			<td colspan="2" style="text-align: center;"><h1>"Login"</h1></td>
		</tr>
		<tr>
			<th style="text-align: right;">Username:</th>
			<td>
			<input id="username" name="username" type="text" style="width: 200px;"/>
			</td>
		</tr>
		<tr>
			<th style="text-align: right;">"Password":</th>
			<td>
			<input name="password" type="password" style="width: 200px;"/>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="text-align: right;">
			<br/>
			<input type="submit" value="Login" style="margin-top: 10px;"/>
			</td>
		</tr>
		<input type="hidden" name="next" value="{{next}}" />
	</table>
</form>